modules = ["nodejs-20"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 32941
externalPort = 5173

[[ports]]
localPort = 33017
externalPort = 3000

[[ports]]
localPort = 35845
externalPort = 5000

[[ports]]
localPort = 37061
externalPort = 3002

[[ports]]
localPort = 40533
externalPort = 3001

[[ports]]
localPort = 45327
externalPort = 3003

[workflows]

[[workflows.workflow]]
name = "Run"
author = 39589241
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
